@media screen and (max-width: 1024px) and (min-width: 769px){
    .item:not(:nth-child(3n)) {
        border-right: 1px solid #D9D9D9;
    }

    .item:not(:nth-last-child(-n + 3)) {
        border-bottom: 1px solid #D9D9D9;
    }

    .item:nth-last-child(-n+3) {
        border-bottom: 1px solid #D9D9D9;
    }

    .item:nth-child(-n+3) {
        border-top: 1px solid #D9D9D9;
    }
}

@media screen and (max-width: 768px) {

    .item:not(:nth-child(2n)) {
        border-right: 1px solid #D9D9D9;
    }

    .item:not(:nth-last-child(-n + 2)) {
        border-bottom: 1px solid #D9D9D9;
    }

    .item:nth-child(-n+2) {
        border-top: 1px solid #D9D9D9;
    }

    .item:nth-last-child(-n+2) {
        border-bottom: 1px solid #D9D9D9;
    }
}