.card {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    height: 270px;
    width: 400px;
    min-height: 270px;
    min-width: 400px;
}