.card {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    height: 270px;
    width: 400px;
    min-height: 270px;
    min-width: 400px;
}

@media screen and (max-width: 468px) {
    .card {
        background-size: contain;
        min-width: 100%;
        width: 160px;
    }
}