@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

* {
  color: #494949;
  font-family: "Montserrat", sans-serif;
}

:root {
  --wrap-padding: 5.63%;
  --color-primary: #367639;
  --color-secondary: #25282B;
  --color-peach: #C39E80;
  --color-danger: #790018;
  --color-neutral-900: #494949;
  --color-neutral-700: #D8D8D8;
  --color-neutral-600: #C7C7C7;
  --color-neutral-500: #949494;
  --color-neutral-0: #fff;
  --gradient-rainbow: linear-gradient(90deg, #3E6300 17.31%, #9D2218 91.73%);
}

.text-neutral-900 {
  color: var(--color-neutral-900);
}
.text-neutral-500 {
  color: var(--color-neutral-500);
}
.text-neutral-0 {
  color: var(--color-neutral-0);
}
.text-primary {
  color: var(--color-primary);
}
.text-danger {
  color: var(--color-danger);
}
.text-secondary {
  color: var(--color-secondary);
}

.fill-neutral-900 {
  fill: var(--color-neutral-900);
}
.fill-neutral-500 {
  fill: var(--color-neutral-500);
}
.fill-neutral-0 {
  fill: var(--color-neutral-0);
}
.fill-primary {
  fill: var(--color-primary);
}
.fill-danger {
  fill: var(--color-danger);
}
.fill-secondary {
  fill: var(--color-secondary);
}

.wrap {
  width: 100%;
  padding-left: var(--wrap-padding);
  padding-right: var(--wrap-padding);
}

@media screen and (max-width: 420px) {
  html {
    font-size: 10px;
  }
}


@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}


@media screen and (max-width: 1330px) {
  html {
    font-size: 14px;
  }
}



@media screen and (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}
